@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">List of Tasks</h1>
    
 <a asp-page="CreateTask" class="btn btn-primary mb-3">Create New Task</a>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
            
        <tbody>
            @foreach (var item in Model.ListOfTasks)
            {
                <tr>
                    <td>@item.TaskName</td>
                    <td>@item.Priority</td>
                    <td>@item.Status</td>
                <td>
                    <a asp-page="EditTask" asp-route-id="@item.TaskId" class="btn btn-primary btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal-@item.TaskId">Delete</button>
                </td>
                </tr>
            }

           


            </tbody>

           
       
       

    </table>
        

